/vendor/
**/bin/
**/obj/
**/node_modules/
**/.vs
**/.idea
**/.ionide
.pulumi
Pulumi.*.yaml
yarn.lock
ci-scripts
/nuget/
provider/**/schema-embed.json

sdk/dotnet/version.txt
sdk/java/.gradle
sdk/java/build/
sdk/java/build.gradle
sdk/python/venv
